
/* Application-wide properties*/
    * {
        background-color: #3f4543;
        color: white;
        font-size: 12pt;
        margin: 0px;
        border: none;
    }

QMenuBar {
}

    QMenuBar::item {
        spacing: 3px; /* spacing between menu bar items */
        padding: 7px 12px;
        background: transparent;
    }

        QMenuBar::item:selected { /* when selected using mouse or keyboard */
            background: #0094ff;
        }

        QMenuBar::item:pressed {
            background: #0094ff;
        }

QMenu {
}

    QMenu::item {
        padding: 12px 24px;
        background: #0094ff;
    }

        QMenu::item:selected {
            background: #6fc2ff;
        }

    QMenu::separator {
        height: 1px;
        background: white;
    }

    QMenu::indicator {
        width: 13px;
        height: 13px;
    }


/* Actual controls*/

QLabel {
}

QPushButton {
    background-color: #0094ff;
    border: none;
    padding: 10px 20px;
}

    QPushButton:flat {
        background-color: #3f4543;
    }

    QPushButton:hover {
        background-color: #535a57;
    }

    QPushButton:pressed {
        background-color: #0094ff;
    }

QSlider::groove:horizontal {
    border: none;
    background-color: #535a57;
}

QSlider::handle:horizontal {
    background-color: #0094ff;
    width: 20px;
}

    QSlider::handle:horizontal:hover {
        background-color: #6fc2ff;
        width: 20px;
    }

    QSlider::handle:horizontal:pressed {
        background-color: #ff7500;
        width: 20px;
    }

QRadioButton:hover {
    background: #535a57;
}

QRadioButton:pressed {
    background: #ff7500;
}

QRadioButton::indicator {
    width: 32px;
    height: 32px;
    padding: 5px 10px;
}

    QRadioButton::indicator::unchecked {
        image: url(forms/icons/check_empty.png);
    }

    QRadioButton::indicator:unchecked:hover {
        image: url(forms/icons/check_empty.png);
    }

    QRadioButton::indicator:unchecked:pressed {
        image: url(forms/icons/check_empty.png);
    }

    QRadioButton::indicator::checked {
        image: url(forms/icons/check_full.png);
    }

    QRadioButton::indicator:checked:hover {
        image: url(forms/icons/check_full.png);
    }

    QRadioButton::indicator:checked:pressed {
        image: url(forms/icons/check_full.png);
    }


QCheckBox {
    padding: 5px 10px;
}

    QCheckBox:hover {
        background: #535a57;
    }

    QCheckBox:pressed {
        background: #0094ff;
    }

    QCheckBox::indicator {
        width: 24px;
        height: 24px;
    }

        QCheckBox::indicator::unchecked {
            image: url(forms/icons/check_empty.png);
        }

        QCheckBox::indicator:unchecked:hover {
            image: url(forms/icons/check_empty.png);
        }

        QCheckBox::indicator:unchecked:pressed {
            image: url(forms/icons/check_empty.png);
        }

        QCheckBox::indicator::checked {
            image: url(forms/icons/check_full.png);
        }

        QCheckBox::indicator:checked:hover {
            image: url(forms/icons/check_full.png);
        }

        QCheckBox::indicator:checked:pressed {
            image: url(forms/icons/check_full.png);
        }

QTabWidget::pane {
    border-top: 3px solid #535a57;
}

QTabWidget:movable {
    background: #ff7500;
}

QTabBar::tab {
    background: #535a57;
    min-width: 8ex;
    padding: 5px 10px;
}

    QTabBar::tab:hover {
        background: #6fc2ff;
    }

    QTabBar::tab:movable {
        background: #ff7500;
    }

    QTabBar::tab:selected {
        background: #0094ff;
    }

    QTabBar::tab:!selected {
        margin-top: 5px;
    }
